<%= form_with(model: nombre, local: true) do |form| %>
  <% if nombre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nombre.errors.count, "error") %> prohibited this nombre from being saved:</h2>

      <ul>
      <% nombre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :nombre_apellido %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :nombre_telefono %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
